.scp-internal-users-password-change {
	padding: 10%;
	width: 30em;
}
.scp-internal-users-password-change .error {
	border: 2px red solid;
}

.scp-internal-users-password-change label {
	display: inline-block;
	width: 50%;
}